html,
body,
#app {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #2b4b6b;
}
.el-breadcrumb{
  margin-bottom: 15px;
}
.el-cart{
  box-shadow: 0 1px 1px rgba(0, 0,0,0.15) !important
}
.el-table{
  font-size: 12px;
}
el-column{
  height: 16px;
}
/* 箭头有点错位，两个类样式都能选中和控制这个小图标*/
.el-input__icon{
  /* line-heigh是一个系数，最终的行高值，是字体大小*这个系数 得到的结果 */
  line-height: 1;
}